* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none; */
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

html { -webkit-tap-highlight-color: transparent;}

body {
  width: 100%;
  min-height: 100vh;
  background: #161616;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

main {
  width: 400px;
  background: #101010;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header{
  width: 400px;
  height: 11vh;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: #101010;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

.header__view-note {
  height: 11vh;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #101010;
  z-index: 9;
}

header h2 {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

header input {
  background: #101010;
  height: 45px;
  width: 80%;
  border: 1px solid #202020;
  border-radius: 12px;
  outline: none;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.btn {
  border: none;
  color: #fff;  
  background: #202020;
  width: 45px;
  height: 45px;
  font-size: 20px;
  display: grid;
  place-items: center;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.btn:active {
  background: #303030;
}

.section {
  position: relative;
}

.section .btn.add__btn {
  position: fixed;
  bottom: 20px;
  right: 39%;
  width: 60px;
  height: 60px;
  font-size: 25px;

}

.notes-container {
  padding-top: 11vh;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
} 

.notes-container::-webkit-scrollbar { display: none; }

.notes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 1rem;
} 

.note {
  background: #2084ff;
  color: #101010;
  height: 95px;
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  position: relative;
}

.note h4 {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.note p {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  margin-top: 10px;
  font-size: 13px;
}

.note:active {
  opacity: 0.9;
}

.note__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 11vh;
  min-height: 100vh;
  color: #fff;
  padding-inline: 20px;
  /* border: 1px solid #fff; */
  user-select:text;
}
.note__form::-webkit-scrollbar { display: none; }

.note__form .title {
  font-size: 1.5rem;
  font-weight: 500;
}

.note__form input {
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
  margin-top: 10px;
  outline: none;
  color: #fff;
}

textarea::-webkit-scrollbar { display: none; }

.note__form .date {
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: 400;
  margin-bottom: 10px;
}

.note__form .textarea {
  width: 100%;
  background: transparent;
  border-radius: 0.2rem;
  font-size: 1rem;
  color: #fefefe;
  resize: none;
  border: none;
  outline: none;
}

.btn.btn__save {
  width: 90px;
  background: rgb(32, 132, 255);
}
.btn.btn.btn__save:active {
  background: rgb(14, 105, 215);
}

.viewnotes_btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn.danger {
  font-size: 25px;
  background: rgb(249, 84, 84);
}

.btnsection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notfound {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
